doctype html
html(lang='en')
  head
    meta(charset='utf8')
    title Plus Google
    script(src='js/main.js')
  body
    form
      input#query(type='text')
      button#search(type='buton', onclick='s()') Search
